doctype html
html
   head
      title  Xpress Home
      link(rel='stylesheet' , href='./style.css')
   body
      include ./includes/navbar
      h3 Home
      p.greetings#people Welcome to Home of Xpress!